<div class="hero-unit">
    <div class="pull-left span3">
      <a href="http://www.smartchicagocollaborative.org/"><img src="/assets/img/smart-chicago-logo.png" alt="Smart Chicago Collaborative" style="height:54px; width: 200px; margin-top:30px;"/></a>
    </div>
    <div class="pull-left span8">
      <h1>Civic User Testing Group</h1>
      <p>The Civic User Testing Group is a set of regular Chicago residents who <strong>get paid</strong><br/> to test out civic apps.</p>                  
    </div>
    <div class="clearfix"></div>
</div>
