<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% include header.html %}
        <title>Civic User Testing Group - Smart Chicago Collaborative</title>
        <link rel="alternate" type="application/atom+xml"  title="Feed of CUT Group program updates" href="/updates/feed.xml" />        
    </head>
    <body class="page">
        {% include navigation_bar.html %}

            {{ content }}

        {% include footer.html %}
    </body>
</html>
