<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% include header.html %}
        <title>{{ page.title }} | Civic User Testing Group - Smart Chicago Collaborative</title>        
    </head>
    <body class="post">
        {% include navigation_bar.html %}
        
        <div class="row">
            <div class="span12">
                <h1>{{ page.title }}</h1>
                <hr />                
            </div>
        </div>
            
        <div class="row">
            <div class="span12 post-content">
                {{ content }}
            </div>

            <div class="span12">
                <p class="post-tagline">Posted by {{ page.author_name }} on {{ page.date | date: "%B %d, %Y" }}.</p>
            </div>            
        </div>
        
        <div class="row navigation-controls">
            <div class="span5 pull-left">
                <a href="{{ page.previous.url }}">&larr; Previous: "{{ page.previous.title }}"
            </div>

            <div class="span2" style="text-align:center;">
                <a href="/updates/index.html" title="All posts">All posts</a>
            </div>


            <div class="span5 pull-right" style="text-align:right;">
                <a href="{{ page.next.url }}">Next: "{{ page.next.title }}" &rarr;</a>
            </div>                
        </div>
        
        {% include footer.html %}
    </body>
</html>
