h1,h2   { font-family: "Roboto Condensed", Helvetica, Arial; font-weight: 400;}
body    { font-family: "Roboto Condensed", Helvetica, Arial; font-weight: 300; font-size: 14pt; line-height: 18pt;}

div.section-break { padding-top: 40px; }

div.hero-unit { padding: 20px; } 

/* responsive tweaks */
@media (min-width: 979px) {
  body { padding-top: 60px; padding-bottom: 40px; 
}











